<h3 class="text-center" *ngIf="dialog === undefined else dialogsDiv">Choose dialog to start</h3>
<ng-template #dialogsDiv>
  <div id="dialog-container" class="container">
    <div id="inner-dialog-container" class="row">
      <mat-card class="main-column">
        <!-- Dialog header -->
        <mat-card-header style="border-bottom-style: groove">
          <!-- Profile picture -->
          <img mat-card-avatar [src]="preview.pictureSrc" class="thumbnail" alt="Current dialog picture"/>
          <!-- Username -->
          <mat-card-title> {{preview.name}} </mat-card-title>
          <mat-card-subtitle>
            <ng-container *ngIf="dialog.interlocutors.length < 3 then directMessagesSubtitle else chatUsersPart"></ng-container>
            <ng-template #directMessagesSubtitle>
              Direct messages to <strong>{{getFirstCurrentAccountUsername()}}</strong>
            </ng-template>
            <ng-template #chatUsersPart>
              <button mat-icon-button aria-label="Chat users dropdown button" [matMenuTriggerFor]="chatUsersMenu">
                <mat-icon>more_vert</mat-icon>
              </button>
              {{dialog.interlocutors.length}} members including <strong>{{getFirstCurrentAccountUsername()}}</strong>
              <mat-menu #chatUsersMenu="matMenu">
                <ng-template matMenuContent>
                  <button *ngFor="let account of dialog.interlocutors" mat-menu-item>
                    <img src="{{account.imageUrl}}" class="small-thumbnail" alt="Account picture"/>
                    <span class="flex-fill align-self-center " [style.font-weight] = "isCurrentAccount(account.id) ? 'bold' : ''">
                        {{account.username}}
                      </span>
                  </button>
                </ng-template>
              </mat-menu>
            </ng-template>
          </mat-card-subtitle>
        </mat-card-header>
        <!-- Dialog container -->
        <mat-card-content id="messages-container">
          <!-- Messages -->
          <mat-card *ngFor="let message of dialog.messages" [id]="'msg' + message.id" class="message" [style.align-self]="isCurrentAccount(message.authorId) ? 'flex-end' : 'flex-start'">
            <mat-card-header *ngIf="!dialog.isDirect">
              <img mat-card-avatar class="small-thumbnail" [src]="getAccountById(message.authorId).imageUrl" alt="Author profile picture"/>
              <strong class="message-username">{{getAccountById(message.authorId).username}}</strong>
            </mat-card-header>
            <mat-card-content>
              <span class="text-break">{{message.text}}</span>
              <span class="message-date-time">{{message.dateTime|date:'HH:mm dd.MM.yy'}}</span>
            </mat-card-content>
          </mat-card>
        </mat-card-content>
        <!-- Input -->
        <mat-card-actions>
          <mat-form-field appearance="outline">
            <button matPrefix mat-icon-button color="primary" aria-label="Send message">
              <mat-icon>attach_file</mat-icon>
            </button>
            <textarea matInput id="message-area" placeholder="Write message..." name="text" [(ngModel)]="dialog.draftText"></textarea>
            <button matSuffix mat-icon-button color="primary" aria-label="Send message" (click)="sendMessage()">
              <mat-icon>send</mat-icon>
            </button>
          </mat-form-field>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</ng-template>
