<div class="d-flex" id="wrapper" [ngClass]="{toggled: sidebarIsToggled}">
  <mat-sidenav-container [hasBackdrop]="false">
    <mat-sidenav id="main-sidenav" #sidenav [opened]="true" [mode]="'side'" [disableClose]="true">
      <app-sidebar></app-sidebar>
    </mat-sidenav>

    <mat-sidenav-content id="main-sidenav-content">
      <mat-toolbar id="main-toolbar" color="primary">
        <button mat-icon-button aria-label="Menu" (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <span>Split</span>
      </mat-toolbar>

      <div id="main-container">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>

  <!--
  <app-sidebar></app-sidebar>

  <div id="page-content-wrapper" class="d-flex flex-column">
    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
      <button class="btn btn-primary" id="menu-toggle" (click)="toggleSidebarEvent()">Menu</button>
    </nav>

    <div class="container-fluid overflow-auto flex-grow-1 p-0">
      <router-outlet></router-outlet>
    </div>
  </div>
  -->
</div>
