body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.thumbnail {
  width: 4rem!important;
  height: 4rem!important;;
  border-radius: 50%!important;;
  vertical-align: middle!important;;
}

.small-thumbnail {
  width: 2rem!important;;
  height: 2rem!important;;
  border-radius: 50%!important;;
  vertical-align: middle!important;;
}

.text-cut, .text-cut * {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.text-break {
  overflow-wrap: break-word;
  word-break: break-word;
}
