<div class="bg-light border-right" id="sidebar-wrapper">
  <div id="accounts-part">
    <!-- Profile picture -->
    <img matListAvatar src="{{selectedAccount.imageUrl}}" class="thumbnail" alt="Profile picture"/>
    <!-- Username -->
    <strong>{{selectedAccount.username}}</strong>
    <!-- Dropdown button -->
    <button mat-icon-button aria-label="Accounts dropdown button" [matMenuTriggerFor]="accountsMenu">
      <mat-icon>arrow_drop_down</mat-icon>
    </button>
    <mat-menu #accountsMenu="matMenu">
      <button mat-menu-item (click)="changeAccount(0)" [style.font-weight] = "selectedAccount.id === 0 ? 'bold' : ''" matTooltip="Operate from multi-account">Multi-account</button>
      <mat-divider></mat-divider>
      <!-- Accounts -->
      <button mat-menu-item *ngFor="let account of accounts" (click)="changeAccount(account.id)">
        <img src="{{account.imageUrl}}" class="small-thumbnail" alt="Account picture"/>
        <span class="flex-fill align-self-center " [style.font-weight] = "selectedAccount.id === account.id ? 'bold' : ''">
            {{account.username}}
          </span>
      </button>
      <!-- /Accounts -->
      <mat-divider></mat-divider>
      <a mat-menu-item href="./sign" matTooltip="Sign out of multi-account">Log Out</a>
    </mat-menu>
  </div>
  <ng-container *ngIf="router.isActive('/dialogs', false) else navTemplate">
    <!--suppress HtmlUnknownAttribute -->
    <mat-tab-group mat-stretch-tabs selectedIndex="1">
      <mat-tab label="Pages">
        <ng-container *ngTemplateOutlet="navTemplate"></ng-container>
      </mat-tab>
      <mat-tab label="Dialogs">
        <mat-nav-list *ngFor="let preview of previews">
          <mat-list-item routerLink="/dialogs" [queryParams]="{id: preview.id}">
            <img matListAvatar class="thumbnail" [src]="preview.pictureSrc" alt="Dialog picture">
            <div mat-line class="dialog-preview-line">
              <strong>{{preview.name}}</strong>
              <span>{{preview.dateTimeStr}}</span>
            </div>
            <div mat-line [matBadge]="preview.unreadMessagesCount" matBadgeColor="accent" matBadgeSize="small">
              <strong>{{preview.isCurrentAccount(selectedAccount.id) ? 'You' : preview.shortUsername}}:</strong>
              {{preview.text}}
            </div>
          </mat-list-item>
        </mat-nav-list>
      </mat-tab>
    </mat-tab-group>
  </ng-container>

  <ng-template #navTemplate>
    <mat-nav-list>
      <a mat-list-item routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Main</a>
      <a mat-list-item routerLink="/dialogs" routerLinkActive="active">
        <span [matBadgeHidden]="unreadMessagesCount<=0" [matBadge]="unreadMessagesCount" matBadgeColor="accent" matBadgeOverlap="false" matBadgeDescription="Number of unread messages">Dialogs</span>
      </a>
      <a mat-list-item routerLink="/comments" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <span matBadge="3" matBadgeColor="accent" matBadgeOverlap="false" matBadgeDescription="Number of unreacted comments">My comments</span>
      </a>
      <a mat-list-item routerLink="/settings" routerLinkActive="active">Settings</a>
    </mat-nav-list>
  </ng-template>
</div>
